@font-face {
  font-family: "mavenpro";
  src: url(../fonts/mavenpro.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mavenpro";
  border-image-width: 100%;
  background-color: #202020;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 8px;
  border: 20px 0px 0px 32px;
  list-style-type: none;
  font-size: 24px;
  font-weight: normal;
  color: #F5EDF8;
}
.menu a {
  color: #F5EDF8;
  text-decoration: none;
}
.menu a:hover {
  border-bottom: solid 5px #BC79D3;
}
.menu .menu-item {
  color: #BC79D3;
  padding: 8px 8px;
  text-decoration: none;
}
.menu .item1 {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
.menu .item2 {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}
.menu .item3 {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
.menu .item4 {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.5s;
}
.menu .item5 {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}
.menu .selected-item {
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid 4px #BC79D3;
  color: #BC79D3;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer {
  height: 178px;
  width: 100%;
}
.footer .footer-titulo {
  margin: 16px;
  color: #F5EDF8;
  background-color: #202020;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 24px;
  border-top: 3px solid #353535;
}
.footer .footer-links-contenedor {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer .footer-links-contenedor .footer-links {
  width: 459px;
  color: #F5EDF8;
  background-color: #353535;
  font-size: 32px;
  font-weight: normal;
  padding: 8px 32px;
  border-radius: 8px;
}
.footer .footer-links-contenedor .footer-links a {
  text-decoration: none;
  color: #F5EDF8;
  background-color: #353535;
  margin-left: 10px;
}
.footer .footer-links-contenedor .footer-links a:hover {
  color: #79CED3;
}

.title-container {
  color: #F5EDF8;
  margin-left: 5%;
  margin-bottom: 1%;
  font-size: 50px;
  font-weight: bold;
}
.title-container .title-number {
  font-size: 40px;
  font-weight: normal;
  margin-right: 20px;
}

.title-secondary {
  color: #F5EDF8;
  font-size: 32px;
  font-weight: normal;
  margin-left: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  margin-bottom: 150px;
}
.form .form-label {
  color: #F5EDF8;
  font-size: 32px;
  font-weight: normal;
}
.form .form-control {
  color: #575757;
  font-size: 28px;
  font-weight: 500;
  background-color: #353535;
  width: 664px;
}
.form .option {
  background-color: #BC79D3;
  color: #353535;
  font-weight: 500;
  width: 364.8px;
}
.form .form-boton-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.form .form-boton-container .form-boton {
  background-color: #79CED3;
  color: #202020;
  font-size: 30px;
  font-weight: bold;
  width: 314px;
  height: 64px;
  border-radius: 8px;
}

.article-container {
  margin: 0px 3% 0px 3%;
  display: flex;
  flex-direction: row;
  width: 1400px;
}
.article-container .article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.article-container .article .article-front {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 600px;
  height: 181px;
  padding: 40px 30px 40px 30px;
  margin-right: 16px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #353535;
}
.article-container .article .article-front .article-front-title {
  color: #BC79D3;
  font-weight: bold;
  font-size: 32px;
  background-color: #353535;
}
.article-container .article .article-front .article-front-subtitle {
  color: #F5EDF8;
  font-size: 26px;
  font-weight: normal;
  background-color: #353535;
}
.article-container .article .article-front .article-front-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #F5EDF8;
  font-size: 26px;
  font-weight: normal;
  background-color: #353535;
}
.article-container .article .article-back {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  width: 600px;
  height: 181px;
  padding: 10px 8px 10px 20px;
  margin-right: 16px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #353535;
}
.article-container .article .article-back .article-back-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #F5EDF8;
  font-size: 26px;
  font-weight: normal;
  background-color: #353535;
}
.article-container .article-front:hover {
  border: 4px solid #79CED3;
}

.foto-mas-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
}
.foto-mas-texto .foto-selfie {
  flex-shrink: 0;
  padding-left: 100px;
  width: 400px;
  height: 300px;
}

.texto-principal {
  color: #F5EDF8;
  font-size: 30px;
  font-weight: normal;
  padding: 32px 32px 32px 32px;
  text-align: center;
}
.texto-principal .resaltado {
  color: #BC79D3;
  font-weight: bold;
}

.carousel-inner .carousel-item {
  height: 450px;
}

body {
  background-color: #202020;
}

.titulo1 {
  color: #F5EDF8;
  font-size: 80px;
  font-weight: medium;
  text-align: center;
  padding: 35px 195px 32px;
}
.titulo1 .resaltado {
  color: #BC79D3;
  margin: 0px;
  font-weight: medium;
  text-align: center;
}

.subtitulo1 {
  color: #F5EDF8;
  font-size: 60px;
  font-weight: medium;
  text-align: center;
  padding-bottom: 30px;
}
.subtitulo1 .resaltado {
  color: #BC79D3;
  margin: 0px;
  font-weight: medium;
  text-align: center;
}

.texto-inicio {
  color: #F5EDF8;
  font-size: 35px;
  text-align: center;
  padding: 0px 260px 100px;
}

.icon-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  animation: bounce-top 1.5s both;
  animation-iteration-count: infinite;
}
.icon-arrow .index-arrow-icon {
  font-size: 50px;
}

.menu-grilla-contenedor {
  width: 1240px;
  height: 880px;
  gap: 10px;
  display: grid;
  grid-template-columns: 612px 612px;
  grid-template-rows: 210px 210px 198px;
  grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja5";
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}
.menu-grilla-contenedor .menu-grilla {
  background-color: #353535;
  color: #79CED3;
  font-size: 35px;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-grilla-contenedor .menu-grilla a {
  background-color: #353535;
  color: #79CED3;
  text-decoration: none;
}
.menu-grilla-contenedor .menu-grilla .menu-grilla-numero {
  color: #79CED3;
  font-weight: 400;
  font-size: 24px;
  background-color: #353535;
  margin-right: 10px;
}
.menu-grilla-contenedor .menu-grilla:hover {
  border: 5px solid #79CED3;
  cursor: pointer;
}

.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.experiencia-laboral-container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin-bottom: 60px;
}
.experiencia-laboral-container .title-experiencia {
  font-size: 35px;
  color: #BC79D3;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 50px;
}
.experiencia-laboral-container .imagen-experiencia-1 {
  width: 800px;
  height: 100%;
  margin: 30px 0px 40px 60px;
}
.experiencia-laboral-container .imagen-experiencia-2 {
  width: 800px;
  height: 100%;
  margin: 30px 0px 40px 60px;
}
.experiencia-laboral-container .descripcion-experiencia {
  font-size: 28px;
  color: #F5EDF8;
  font-weight: normal;
  list-style: none;
  margin-left: 50px;
}
.experiencia-laboral-container .descripcion-experiencia .descripcion-experiencia-resaltado {
  color: #79CED3;
  font-weight: 500;
}
.experiencia-laboral-container .descripcion-experiencia .descripcion-experiencia-texto {
  color: #F5EDF8;
  font-size: 28px;
}

.misproyectos-container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin-bottom: 200px;
  margin-left: 50px;
}
.misproyectos-container .misproyectos-titulo {
  font-size: 35px;
  color: #BC79D3;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.misproyectos-container .misproyectos-imagenytexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}
.misproyectos-container .misproyectos-imagenytexto .misproyectos-imagen {
  width: 604px;
  height: 325px;
  margin-bottom: 20px;
}
.misproyectos-container .misproyectos-imagenytexto .misproyectos-texto {
  font-size: 28px;
  color: #F5EDF8;
  margin-bottom: 20px;
  font-weight: normal;
}
.misproyectos-container .misproyectos-boton-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.misproyectos-container .misproyectos-boton-container .misproyectos-boton {
  background-color: #79CED3;
  color: #353535;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .titulo1 {
    font-size: 50px;
    padding: 0px;
  }
  .subtitulo1 {
    font-size: 35px;
    padding: 0px;
  }
  .texto-inicio {
    font-size: 20px;
    padding: 0px;
    margin-bottom: 60px;
  }
  .menu-grilla-contenedor {
    width: 100%;
    height: 100%;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1" "caja2" "caja3" "caja4" "caja5";
    margin: 0px;
    margin-bottom: 40px;
  }
  .menu-grilla-contenedor .menu-grilla {
    font-size: 20px;
    border: 2px solid #79CED3;
  }
  .menu-grilla-contenedor .menu-grilla .menu-grilla-numero {
    font-size: 20px;
  }
  .footer {
    height: 100px;
    margin-top: 20px;
    padding-left: 30px;
  }
  .footer .footer-titulo {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .footer .footer-links-contenedor {
    display: grid;
    gap: 5px;
  }
  .footer .footer-links-contenedor .footer-links {
    font-size: 16px;
  }
  .fa-solid {
    font-size: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
  .menu .selected-item {
    font-size: 18px;
  }
  .title-container {
    font-size: 25px;
  }
  .title-container .title-number {
    font-size: 20px;
    margin-right: 10px;
  }
  .foto-mas-texto {
    flex-direction: column;
  }
  .foto-mas-texto .foto-selfie {
    padding: 0px;
    width: 200px;
    height: 200px;
  }
  .texto-principal {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
  }
  .carousel-inner {
    height: 150px;
  }
  .article-container .article .article-front {
    width: 100%;
    height: 181px;
    padding: 20px 15px 20px 15px;
    margin-right: 8px;
    margin-top: 8px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
  }
  .article-container .article .article-front .article-front-title {
    font-size: 28px;
  }
  .article-container .article .article-front .article-front-subtitle {
    font-size: 20px;
  }
  .article-container .article .article-front .article-front-text {
    font-size: 20px;
  }
  .article-container .article .article-back {
    width: 100%;
    height: 181px;
    padding: 5px 4px;
    margin-right: 8px;
    margin-top: 8px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
  }
  .article-container .article .article-back .article-back-text {
    font-size: 20px;
  }
  .experiencia-laboral-container {
    width: 100%;
  }
  .experiencia-laboral-container .title-experiencia {
    font-size: 25px;
    margin-left: 30px;
  }
  .experiencia-laboral-container .imagen-experiencia-1 {
    width: 400px;
    height: 200px;
    margin-left: 10px;
  }
  .experiencia-laboral-container .imagen-experiencia-2 {
    width: 400px;
    height: 200px;
    margin-left: 10px;
  }
  .experiencia-laboral-container .descripcion-experiencia {
    font-size: 20px;
    margin-left: 0px;
  }
  .experiencia-laboral-container .descripcion-experiencia .descripcion-experiencia-texto {
    font-size: 20px;
  }
  .misproyectos-container {
    width: 100%;
    margin-left: 30px;
  }
  .misproyectos-container .misproyectos-titulo {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .misproyectos-container .misproyectos-imagenytexto {
    gap: 20px;
    flex-direction: column;
    margin-right: 40px;
  }
  .misproyectos-container .misproyectos-imagenytexto .misproyectos-imagen {
    width: 300px;
    height: 150px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .misproyectos-container .misproyectos-imagenytexto .misproyectos-texto {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .misproyectos-container .misproyectos-boton-container {
    justify-content: flex-start;
  }
  .misproyectos-container .misproyectos-boton-container .misproyectos-boton {
    font-size: 16px;
    padding: 8px 8px;
  }
  .title-secondary {
    font-size: 20px;
    margin-left: 20px;
    border-top: 20px;
  }
  .form {
    margin-bottom: 80px;
    margin-top: 20px;
  }
  .form .form-label {
    font-size: 20px;
  }
  .form .form-control {
    width: 360px;
    font-size: 20px;
  }
  .form .form-boton-container {
    margin-top: 20px;
  }
  .form .form-boton-container .form-boton {
    width: 250px;
    height: 50px;
    font-size: 25px;
  }
}/*# sourceMappingURL=estilos.css.map */