@font-face {
    font-family: "mavenpro";
    src: url(../fonts/mavenpro.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mavenpro";
    border-image-width: 100%;
}

body {
    background-color: #202020;
}

.botones-idioma {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.boton-idioma-ingles {
    color: #79CED3;
    background-color: #353535;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 4px 0px 0px 4px;
}

.boton-idioma-espanol {
    background-color: #79CED3;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0px 4px 4px 0px;
    margin-right: 100px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 8px;
    border: 20px 0px 0px 32px;
    list-style-type: none;
    font-size: 24px;
    font-weight: normal;
}

.menu a:hover {
    border-bottom: solid 5px #BC79D3;
}

.selected-item {
    color: #BC79D3;
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #F5EDF8;
}

.menu-item {
    color: #F5EDF8;
    padding: 8px 8px;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

/*Inicio*/

.titulo1{
    color:#F5EDF8;
    font-size: 100px;
    font-weight: medium;
    text-align: center;
    padding: 35px 195px 32px;
}

.resaltado{
    color:#BC79D3;
    margin: 0px;
}

.subtitulo1{
    color:#F5EDF8;
    font-size: 70px;
    font-weight: medium;
    text-align: center;
    padding-bottom: 70px;
}

.texto-inicio{
    color:#F5EDF8;
    font-size: 40px;
    text-align: center;
    padding: 0px 260px 200px;
}

.index-arrow-icon {
    font-size: 80px;
}

.icon-arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.gallery {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.gallery-photo {
    padding: 12px;
}

/*Sobre mi*/

.title-container {
    color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 50px;
    font-weight: bold;
}

.title-number {
    font-size: 40px;
    font-weight: normal;
    margin-right:20px;
}

.foto-mas-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px 80px 0px;
}

.marco {
    display: flex;
    flex-direction: column;
    width: 403px;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(135deg, #79ced3a6 24.46%, #bc79d3b3 84.39%);
}

.foto-selfie {
    width: 359px;
    height: 363px;
    flex-shrink: 0;
    border-radius: 4px;
    background: url(<path-to-image>), #d3d3d3 50% / cover no-repeat;
    box-shadow: 4px 4px 8px 0px #20202040;  
    padding-left: 100px;
}

.texto-principal {
    color: #F5EDF8;
    font-size: 36px;
    font-weight: normal;
    padding: 0px 32px 32px 32px;
    text-align: left;
}

.resaltado {
    color: #BC79D3;
    font-weight: bold;
}

.imagen-universidad-todas {
    display: flex;
    justify-content: space-around;
    padding-bottom: 133px;

}

.imagen-universidad {
    width: 234px;
    height: 234px;
}

/*Formación académica*/

.article-container {
    margin: 0px 3% 0px 3%;
    display:flex;
    flex-wrap: wrap;
}

.article {
    width: 100%;
    max-width: 550px;
    padding: 2% 64px 2% 64px;
    margin: 50px 8px 8px 80px;
    background-color: #353535;
    border-radius: 8px;
}

.article-title {
    color: #BC79D3;
    font-weight: bold;
    font-size: 32px;
}


.article-text{
    color: #F5EDF8;
    font-size: 26px;
    list-style-type: none;
    padding: 0px;
}

/*Experiencia laboral*/

.card {
    background-color: #353535;
    margin-left: 80px;
    margin-top: 52px;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap ;
}

.card-title {
    color: #BC79D3;
    font-size: 28px;
    font-weight: bold;
}

.card-subtitle {
    color: #F5EDF8;
    font-size: 20px;
    font-weight: normal;
    opacity: 80%;
}

.card-text {
    color: #F5EDF8;
    font-size: 18px;
    font-weight: normal;
}

.card-link {
    color: #F5EDF8;
    text-decoration: none;
    color: #79CED3;
    font-weight: bold;
}

.title2-container {
    display: inline-flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 20px;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 32px;
    color: #F5EDF8;
}

.title2-number {
    font-size: 30px;
    font-weight: normal;
}

.title2-text {
    font-size: 38px;
    font-weight: bold;
}

.card2 {
    margin-left: 100px;
}

.card2-body {
    background-color: #353535;
    color: #F5EDF8;
    padding: 20px;
    border-radius: 8px;
}

.card2-title {
    color: #BC79D3;
    font-size: 28px;
}

.card2-subtitle {
    color: #F5EDF8;
    font-size: 20px;
    opacity: 80%;
}

/*Mis proyectos*/

.card {
    background-color: #353535;
    margin-left: 100px;
    margin-top: 10px;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    color: #BC79D3;
}

.card-subtitle {
    color: #F5EDF8;
    font-size: 20px;
    opacity: 80%;
}

.card-text {
    color: #F5EDF8;
    font-size: 20px;
}

.btn {
    background-color: #79CED3;
    color: #F5EDF8;
    font-weight: bold;
    font-size: 1rem;
}

.card2 {
    margin-left: 100px;
}

.card2-body {
    background-color: #353535;
    color: #F5EDF8;
    padding: 20px;
    border-radius: 8px;
}

.card2-title {
    color: #BC79D3;
    font-size: 28px;
    font-weight: bold;
}

.card2-subtitle {
    color: #F5EDF8;
    font-size: 20px;
    opacity: 80%;
}

/*Contactame*/

.form {
    margin-left: 25%;
}

.form-label {
    color: #F5EDF8;
    font-size: 32px;
    font-weight: normal;
}

.form-control {
    color: #575757;
    font-size: 28px;
    font-weight: 500;
    background-color: #353535;
    max-width: 664px;
}

.option {
    background-color: #BC79D3;
    color: #353535;
    font-weight: 500;
}

.title-secondary {
    color: #F5EDF8;
    font-size: 32px;
    font-weight: normal;
    margin-left: 100px;
}

/**/

.footer a {
    text-decoration: none;
    color: #F5EDF8;
    background-color: #353535;
}

.footer a:hover {
    color: #79CED3;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 20px 32px 20px 8px;
    align-items: center;
    gap: 16px;
    border-top: 3px solid #353535;
}

.footer-titulo {
    margin: 16px;
    color: #F5EDF8;
    background-color: #202020;
    font-size: 32px;
    font-weight: normal;
}

.footer-links {
    color: #F5EDF8;
    background-color: #353535;
    font-size: 32px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}


@media (max-width: 360px) {
    .titulo1{
        font-size: 50px;
        padding: 0px;
    }

    .subtitulo1{
        font-size: 35px;
        padding: 0px;
    }
    
    .texto-inicio{
        font-size: 20px;
        padding: 0px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery-photo {
        width: 300px;
    }

    .footer {
        display: flex;
    }

    .footer-titulo {
        font-size: 16px;
    }

    .footer-links {
        font-size: 16px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }

    .fa-solid {
            font-size: 40px;
    }

    .title-container {
        font-size: 25px;
    }
    
    .title-number {
        font-size: 20px;
        margin-right:10px;
    }
    
    .foto-mas-texto {
        flex-direction: column;
    }
    
    .marco {
        width: 260px;
        padding: 16px 16px;
    }
    
    .texto-principal {
        font-size: 18px;
        text-align: left;
        margin-top: 32px;
    }
    
    .imagen-universidad {
        width: 117px;
        height: 117px;
    }
}