.footer {
    height: 178px;
    width: 100%;

    .footer-titulo {
        margin: 16px;
        color: $fontColor;
        background-color: $mainColor;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 24px;
        border-top: 3px solid $secondaryColor;
    }  

    .footer-links-contenedor {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .footer-links {
            width: 459px;
            color: $fontColor;
            background-color: $secondaryColor;
            font-size: 32px;
            font-weight: normal;
            padding: 8px 32px;
            border-radius: 8px;

            a {
                text-decoration: none;
                color: $fontColor;
                background-color: $secondaryColor;
                margin-left: 10px;
            }

            a:hover {
                color: $buttonColor;
            }

        }

    }
    
}


        

              


















