body {
    background-color: $mainColor;
}

.texto-inicio{
    color: $fontColor;
    font-size: 40px;
    text-align: center;
    padding: 0px 260px 200px;    
    
}

.titulo1{
        color:$fontColor;
        font-size: 100px;
        font-weight: medium;
        text-align: center;
        padding: 35px 195px 32px;
    
    .resaltado{
        color:$linkColor;
        margin: 0px;
        font-weight: medium;
        text-align: center;

    }  

}

.subtitulo1{
        color: $fontColor;
        font-size: 70px;
        font-weight: medium;
        text-align: center;
        padding-bottom: 70px;

        .resaltado{
            color:$linkColor;
            margin: 0px;
            font-weight: medium;
            text-align: center;
    
        }

    }

.gallery {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;

    .gallery-photo {
        padding: 12px;
        -webkit-animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) reverse both;animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) reverse both;
    }

}  

.icon-arrow {
        -webkit-animation:bounce-bottom .9s both;animation:bounce-bottom .9s both;
        display: flex;
        justify-content: center;
        margin-bottom: 200px;

    .index-arrow-icon {
        font-size: 80px;

    }

}

 @-webkit-keyframes bounce-bottom{0%{-webkit-transform:translateY(45px);transform:translateY(45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(24px);transform:translateY(24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(12px);transform:translateY(12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(6px);transform:translateY(6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(4px);transform:translateY(4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-bottom{0%{-webkit-transform:translateY(45px);transform:translateY(45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(24px);transform:translateY(24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(12px);transform:translateY(12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(6px);transform:translateY(6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(4px);transform:translateY(4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}




 @-webkit-keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}@keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}


    