body {
    background-color: $mainColor;
}

.titulo1{
        color:$fontColor;
        font-size: 80px;
        font-weight: medium;
        text-align: center;
        padding: 35px 195px 32px;
    
    .resaltado{
        color:$linkColor;
        margin: 0px;
        font-weight: medium;
        text-align: center;

    }  

}

.subtitulo1{
        color: $fontColor;
        font-size: 60px;
        font-weight: medium;
        text-align: center;
        padding-bottom: 30px;

        .resaltado{
            color:$linkColor;
            margin: 0px;
            font-weight: medium;
            text-align: center;
    
        }
}

.texto-inicio{
    color: $fontColor;
    font-size: 35px;
    text-align: center;
    padding: 0px 260px 100px;    
    
}

.icon-arrow {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        -webkit-animation:bounce-top 1s both;animation:bounce-top 1.5s both;
        animation-iteration-count: infinite;

    .index-arrow-icon {
        font-size: 50px;
    }

}

.menu-grilla-contenedor {
    width: 1240px;
    height: 880px;
    gap: 10px;
    display: grid;
    grid-template-columns: 612px 612px;
    grid-template-rows: 210px 210px 198px;
    grid-template-areas: 
        "caja1 caja2"
        "caja3 caja4"
        "caja5 caja5";
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;

        .menu-grilla {
            background-color: $secondaryColor;
            color: $buttonColor;
            font-size: 35px;
            font-weight: 600;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                background-color: $secondaryColor;
                color: $buttonColor;
                text-decoration: none;
                
            }

            .menu-grilla-numero {
                color: $buttonColor;
                font-weight: 400;
                font-size: 24px;
                background-color: $secondaryColor;
                margin-right: 10px;
            }
  
    }  

    .menu-grilla:hover {
        border: 5px solid $buttonColor;
        cursor: pointer;
    }

}


.caja1{
    grid-area: caja1;
}

.caja2{
    grid-area: caja2;
}

.caja3{
    grid-area: caja3;
}

.caja4{
    grid-area: caja4;
}

.caja5{
    grid-area: caja5;
}


 @-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}