.foto-mas-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 80px 0px;

        .foto-selfie {
            flex-shrink: 0;
            padding-left: 100px;
            width: 400px;
            height: 300px;
        }

    }

 

.texto-principal {
    color: $fontColor;
    font-size: 30px;
    font-weight: normal;
    padding: 32px 32px 32px 32px;
    text-align: center;

    .resaltado {
        color: $linkColor;
        font-weight: bold;
        }

    }

.carousel-inner {
    .carousel-item {
        height: 450px;
    }
}



