.title-container {
    color: $fontColor;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 50px;
    font-weight: bold;

    .title-number {
        font-size: 40px;
        font-weight: normal;
        margin-right:20px;
}

}

.title-secondary {
    color: $fontColor;
    font-size: 32px;
    font-weight: normal;
    margin-left: 100px;
}